.view-score {
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
  justify-content: space-between;
  p {
    margin-top: 10px;
  }
  .quiz-button {
    justify-content: space-between;
    margin: 20px 10px;
  }
}
